---
---

@import "{{ site.theme }}";
.post-excerpts {
  list-style: none;
}
.post-card {
  box-shadow: 10px 10px 5px grey;
}

.post-card__title {
	padding: 10px;
	border-radius: 7px 7px 0px 0px;
	background: #0090ff;
	color: white;
	text-decoration-color: white;
}

.post-card__excerpt {
	padding: 10px;
	border-radius: 0px 0px 7px 7px;
	background: #A1E9E3;
}

.post-card__more {
	color: #0090ff;
}
