---
---

@import "{{ site.theme }}";
.post-excerpts {
  list-style: none;
}
.post-card {
  box-shadow: 10px 10px 5px grey;
}

.post-card__title {
	padding: 10px;
	border-radius: 7px;
	background: #0090ff;
	color: white;
}

.post-card__excerpt {
	padding: 10px;
	border-radius: 7px;
	background: #A1E9E3;
	color: #0090ff;
}
